WindowsClient/Service References/ServiceReferenceBD/ServiceData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:42099/ServiceData.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:42099/ServiceData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:42099/ServiceData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceData_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNumber" />
  </wsdl:message>
  <wsdl:message name="IServiceData_AddNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IServiceData_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IServiceData_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceData">
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/AddStudent" message="tns:IServiceData_AddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/AddStudentResponse" message="tns:IServiceData_AddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/AddNumber" message="tns:IServiceData_AddNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/AddNumberResponse" message="tns:IServiceData_AddNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/GetStudents" message="tns:IServiceData_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/GetStudentsResponse" message="tns:IServiceData_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceData/DeleteStudent" message="tns:IServiceData_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceData/DeleteStudentResponse" message="tns:IServiceData_DeleteStudent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceData" type="tns:IServiceData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/IServiceData/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNumber">
      <soap:operation soapAction="http://tempuri.org/IServiceData/AddNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IServiceData/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IServiceData/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceData">
    <wsdl:port name="BasicHttpBinding_IServiceData" binding="tns:BasicHttpBinding_IServiceData">
      <soap:address location="http://localhost:42099/ServiceData.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>